<div class="row">
	<div class="col-3">
		<div class="card" style="width: 18rem;">
			<%= image_tag avatar_url(@user),class:"card-img-top" %>
			
			<div class="card-header text-center">
				<h6>Verification</h6>
			</div>
			<div class="card-body">
				<p>Phonenumber:</p>
				<%= @user.phonenumber %>
				<p>Email:</p>
				<%= @user.email %>
			</div>
		</div>
	</div>

	<div class="col-9">
		<h2 class="show_name col-2"><%= @user.fullname %></h2>
		<div class="container ml-3">
			<h4 class="ml-2">Listings (<%= @rooms.length %>)</h4><br>
			<div class="row mb-5">
				<%= render 'rooms/room_list' %>
			</div>

			<h4>Reviews From Guests (<%= @guest_reviews.count %>)</h4>
			<div>
				<%= render "reviews/guest_list" %>
			</div><br><br>

			<h4>Reviews From Hosts (<%= @host_reviews.count %>)</h4>
			<div>
				<%= render "reviews/host_list" %>
			</div>
		</div>
	</div>
</div>