<div class="row">
	<div class="col-3">
      	<div class="card">
		   <div class="card-body">
        		<%= render "rooms/rooms_manage_list" %>
      		</div>
  	  	</div>
    </div>

    <div class="col-9">
      	<div class="card">
		    <h5 class="card-header text-center">Your Trips</h5>
			<div clss="card-body">
			    <div class="container mt-3 mb-3">
              			<% @trips.each do |trip|%>
                			<div class="row room_list mt-3"> 
								<div class="col-2">
									<%= trip.start_date.strftime('%v') %>
								</div>
								<div class="col-3">	
									<% if trip.room.photos.any? %>
										<%= image_tag trip.room.photos.first.image.url,class:"index_image" %>
									<% else %>
										<div class="text-center"><i class="fas fa-times-circle fa-3x"></i></div>
									<% end %>
								</div>
								<div class="col-4">
									<h5><%= link_to trip.room.listing_name,room_path(trip.room),class: "#" %></h5>
									<span>
									<%= image_tag avatar_url(trip.room.user),class: "rounded-circle avatar-small mr-1" %>
									<%= link_to trip.room.user.fullname,user_path(trip.room.user),class: "#" %>
									</span>
								</div>
								<div class="col-3">
									<%= link_to "Review Host","#",class: "btn btn-primary btn-block" %>
								</div>
							
							</div>
						<% end %>
			    </div>
		  	</div>
	  	</div>


    </div>
</div>
