<div class="roommenu">
	<ul>
		<li>
			<%= link_to 'Listing',listing_room_path,class:"h5 text-dark" %>
				<span class="float-right"><i class="fa fa-check"></i></span>
		</li>
		<li>
			<%= link_to 'Pricing',pricing_room_path,class:"h5 text-dark" %>
			<% if !@room.price.blank? %>
				<span class="float-right"><i class="fa fa-check"></i></span>
			<% end %>
		</li>
		<li>
			<%= link_to 'Description',description_room_path,class:"h5 text-dark" %>
			<% if !@room.listing_name.blank? %>
				<span class="float-right"><i class="fa fa-check"></i></span>
			<% end %>
		</li>
		<li>
			<%= link_to 'Photos',photo_upload_room_path,class:"h5 text-dark" %>
			<% if !@room.photos.blank? %>
				<span class="float-right"><i class="fa fa-check"></i></span>
			<% end %>
			</li>
		<li>
			<%= link_to 'Amenities',amenities_room_path,class:"h5 text-dark" %>
			<span class="float-right"><i class="fa fa-check"></i></span>
		</li>
		<li>
			<%= link_to 'Location',location_room_path,class:"h5 text-dark" %>
			<% if !@room.address.blank? %>
				<span class="float-right"><i class="fa fa-check"></i></span>
			<% end %>
		</li>
	</ul>

	<% is_ready = !@room.price.blank? && !@room.listing_name.blank? && !@room.photos.blank? && !@room.address.blank? %>

	<%# <%= link_to 'Publish',"#",class:"btn btn-success" %>

	<%= form_for @room do |f| %>
		<%= f.hidden_field :active,value:true %>
		<%= f.submit "Publish", class: "btn btn-success btn-block", disabled: !is_ready %>
	<% end %>
</div>