<div class="roommenu">
	<ul>
		<li><%= link_to 'Listing',listing_room_path,class:"h5 text-dark" %></li>
		<li><%= link_to 'Pricing',pricing_room_path,class:"h5 text-dark" %></li>
		<li><%= link_to 'Description',description_room_path,class:"h5 text-dark" %></li>
		<li><%= link_to 'Photos',photo_upload_room_path,class:"h5 text-dark" %></li>
		<li><%= link_to 'Amenities',amenities_room_path,class:"h5 text-dark" %></li>
		<li><%= link_to 'Location',location_room_path,class:"h5 text-dark" %></li>
	</ul>
</div>