<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <%= render "room_menu" %>
      </div>
    </div>
  </div>

  <div class="col-9">
    <div class="card">
      <div class="card-header bg-success text-light">
        Amenities
      </div>
      <div class="card-body">
	  	<div clas="container">
			    <%= form_for @room do |f| %>
					<div class="row text-center">
						<div class="col-4">
							<div class="form-group">
								<label>TV</label>
								<%= f.check_box :is_tv, id: :is_tv,:as => :boolean %>
							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<label>Kitchen</label>
								<%= f.check_box :is_kitchen, id: :is_kitchen,:as => :boolean %>
							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<label>Internet</label>
								<%= f.check_box :is_internet, id: :is_internet,:as => :boolean %>
							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<label>Air conditioning</label>
								<%= f.check_box :is_air, id: :is_air,:as => :boolean %>
							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<label>Heating</label>
								<%= f.check_box :is_heating, id: :is_heating,:as => :boolean %>
							</div>
						</div>

					</div>
					<div class="text-center">
						<%= f.submit "Save",class: "btn btn-primary mt-3 w-25" %>
					</div>
				<% end %>
			</div>
        
      </div>
    </div>
  </div>

</div>
