<div class="row">
	<div class="col-3">
      	<div class="card">
		   <div class="card-body">
        		<%= render "rooms_manage_list" %>
      		</div>
  	  	</div>
    </div>

    <div class="col-9">
      	<div class="card">
		    <h5 class="card-header text-center">Your listings</h5>
			<div clss="card-body">
			    <div class="container mt-3 mb-3">
				    <% if @rooms.any? %>
              			<% @rooms.each do |room|%>
                			<div class="row room_list mt-3"> 
							
								<div class="col-3">	
									<% if room.photos.any? %>
										<%= image_tag room.photos.first.image.url,class:"index_image" %>
									<% else %>
										<div class="text-center"><i class="fas fa-times-circle fa-3x"></i></div>
									<% end %>
								</div>
								<div class="col-7">
									<h5><%= link_to room.listing_name,room_path(room),class: "#" %></h5>
									<div><%=room.user.fullname %></div>
								</div>
								<div class="col-2">
									<%= link_to "Update",listing_room_path(room),class: "btn btn-outline-primary btn-block" %>
								</div>
							
							</div>
						<% end %>
              		<% else %>
                		<div>Nothing to show.</div>
              		<% end %>
					

			    </div>
		  	</div>
	  	</div>


    </div>
</div>
