<div class="container">
	<div class="row">
		<div class="col-12">
			<%= image_tag @room.photos.first.image.url, width:"100%" %>
		</div>
	</div>
	<div class="row">
		<div class="col-8">
			<div class="row bdbm mt-4">
				<div class="col-8">
					<h1><%= @room.listing_name %></h1>
					<p><%= @room.address %></p>
				</div>
				<div class="col-4 text-center">
					<%= image_tag avatar_url(@room.user),class: "rounded-circle" %><br>
					<h5><%=@room.user.fullname %></h5>
				</div>
				</div>
				<div class="row mt-5 text-center">
					<span class="col-3">
						<i class="fas fa-home fa-3x"></i><br>
						<p><%= @room.home_type %></p>
					</span>
					<span class="col-3">
						<i class="far fa-user-circle fa-3x"></i><br>
						<p><%= @room.accommodate %></p>
					</span>
					<span class="col-3">
						<i class="fas fa-bed fa-3x"></i><br>
						<p><%= @room.bedroom %></p>
					</span>
					<span class="col-3">
						<i class="fas fa-bath fa-3x"></i><br>
						<p><%= @room.bathroom %></p>
					</span>
				</div>
				<div class="mt-3 mb-5">
					<h2>About this listings</h2>
					<p><%= @room.summary %></p>
				</div>
				<div class="row mt-3 mb-5 bdbm">
					<div class="col-4">
						<h3>Amenities...</h3>
					</div>
					<div class="col-4">
						<ul>
							<li class="<%= 'text-line-through' if !@room.is_tv %>">TV</li>
							<li class="<%= 'text-line-through' if !@room.is_kitchen %>">Kitchen</li>
							<li class="<%= 'text-line-through' if !@room.is_air %>">Airconditioner</li>
						</ul>
					</div>
					<div class="col-4">
							<ul>
								<li class="<%= 'text-line-through' if !@room.is_heating %>">Heater</li>
								<li class="<%= 'text-line-through' if !@room.is_internet %>">Internet</li>
							</ul>
					</div>
				</div>
				<div class="row mt-3 mb-5 bdbm">
					<div class="col-12">
						<% if @photos.length > 0 %>
							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<% @photos.each do |photo| %>
										<li data-target="#carouselExampleIndicators" data-slide-to="<%= photo.id %>"></li>
									<% end %>
								</ol>
								<div class="carousel-inner">
									<% @photos.each do |photo| %>
										<div class="carousel-item <%= "active" if photo.id == @photos[0].id %>">
											<%= image_tag photo.image.url(), class:"d-block w-100" %>
										</div>
									<% end %>
								</div>
								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						<% end %>
					</div>
					<hr/>

				<!-- reviews -->
				
				<div class="col-12 mt-3">
					<h3><%= pluralize(@guest_reviews.count, "Review") %></h3>
					<div class="container">
						<div><%= render "reviews/guest_list" %></div>
					</div>
				</div>
				



				<!-- google -->
					<div class="row mt-5 ml-2">
						<div id="map" style="width: 700px; height:400px;">
						//Retrieves Google Map API information from Google APIs
						<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key %>"></script>

						<script>
							function initialize() {
								var location = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};
								var map = new google.maps.Map(document.getElementById('map'), {
								center: location,
								zoom: 14
							});


							var marker = new google.maps.Marker({
								position: location,
								map: map
							});


							var infoWindow = new google.maps.InfoWindow({
								content: '<div id="content"><%= image_tag @room.photos.first.image.url, class: "window-size" %></div>'
							});

							infoWindow.open(map, marker)

							}

							google.maps.event.addDomListener(window, 'load', initialize);
						</script>
						</div>
					</div>

					<!-- nearby places -->
					<div class="mt-3">
						<h3>Near by</h3>
						<div class="row">
							<% for room in @room.nearbys(10) %>
								<div class="col-md-4">
									<div class="card">
										<div class="card-header preview">
											<%= image_tag room.photos.first.image.url %>
										</div>
										<div class="card-body">
											<%= link_to room.listing_name,room %>
											(<%= room.distance.round(2) %> miles away)
										</div>
									</div>
								</div>
							<% end %>
						<div>
					</div>

				</div>
			</div>
			
		</div>

		
	</div>
		<div class="col-4 mt-5">
			<%= render "reservations/form" %>
	</div>
</div>
