<!DOCTYPE html>
<html>
  <head>
    <title>YuAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <% unless flash.empty? %>
      <script type='text/javascript'>
        <% flash.each do |type,message| %>
          <% type = 'success' if type == 'notice' %>
          <% type = 'error' if type == 'alert' %>
          toastr['<%= type %>']('<%= message %>')
        <% end %>
      </script>
    <% end %>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
